.title-container{
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    margin-bottom: 25px;
    background-color: var(--color-gray-01);
}
.title{
    font-weight: 500;
    transition: .3s;
}